### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# PART 1: DEPENDENCIES & SET UP
# Import Pandas
import pandas as pd
import re

# Load in CSV file
csvfile = "Resources/purchase_data.csv"

# Read purchase_data.csv and store into Pandas dataframe called purchase_data_df
purchase_data_df = pd.read_csv(csvfile)
purchase_data_df.head()

ModuleNotFoundError: No module named 'Ipython'

## Player Count

* Display the total number of players

In [4]:
# PART 2: ANALYZE ALL PLAYERS 

#Define index & find total number of unique players (num_unique_players)
#Source: https://www.kite.com/python/answers/how-to-count-the-number-of-rows-in-a-pandas-dataframe-in-python
#I don't know why index works
overall_index = purchase_data_df.index
num_unique_players = purchase_data_df['SN'].nunique()

#Display total
print(num_unique_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, total # of purchases, total revenue


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#Count unique items in Index 5
unique_items = purchase_data_df['Item Name'].nunique()

#Find average purchase price
average_price = purchase_data_df['Price'].mean(axis=0, skipna=None, level=None, numeric_only=None)

#Count Total Number of Purchase
total_purchases = len(overall_index)

# Sum price column to get total revenue
total_revenue = purchase_data_df['Price'].sum()
total_revnue = total

# Store summary analysis in a dataframe called purchase_summary_df
purchase_summary_df = pd.DataFrame(
    {"Number of Unique Items" :[unique_items], "Average Price": [average_price], "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})

# ([unique_items], [average_price], [total_purchases], [total_revenue])

purchase_summary_df.style
# purchase_summary_df

# hey_arnold_df = pd.DataFrame(
#     {"Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
#      "color_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
#      "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
#      "Football_Shaped_Head": [True, False, False, False, False, False]
#      })

# hey_arnold_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
# PART 3: ANALYZE DATA BY GENDER
# Set variables to male_players, female_players, nb_players
gender_data = purchase_data_df.groupby('Gender')
gender_data.first()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Female,15,Lisassa64,21,98,"Deadline, Voice Of Subtlety",2.89
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Other / Non-Disclosed,9,Chanosian48,35,136,Ghastly Adamantite Protector,3.58


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
# PART 3A: Analyze MALE players
gender_data.get_group('Female')

,Purchase ID,SN,Age,Item ID,Item Name,Price
15,15,Lisassa64,21,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,82,Nirvana,4.90
38,38,Reulae52,10,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,84,Arcane Gem,3.79
...,...,...,...,...,...,...
731,731,Eudanu84,22,12,Dawne,1.02
740,740,Reunasu60,22,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,92,Final Critic,4.88
775,775,Aethedru70,21,60,Wolf,3.54

In [30]:
female_players_df = gender_data.get_group('Female')
female_index = female_players_df.index

#Find average purchase price for female players
average_price_female = female_players_df['Price'].mean(axis=0, skipna=None, level=None, numeric_only=None)
print(average_price_female)

# Count Total Number of Purchase
total_purchases_female = len(female_index)
print(total_purchases_female)

# Sum price column to get total revenue
total_rev_female = female_players_df['Price'].sum()
print(total_rev_female)

# Average purchase total per person


# Store summary analysis in a dataframe called female_purchase_summary
# female_purchase_summary_df = ([average_price_female], [total_purchases_female], [total_rev_female], [total_revenue])
female_purchase_summary_df = ([average_price_female], [total_purchases_female], [total_rev_female])
print(female_purchase_summary_df)

3.203008849557519
113
361.94
([3.203008849557519], [113], [361.94])

In [31]:
# PART 3B: Analyze MALE players
# Group gender
gender_data.get_group('Male')

,Purchase ID,SN,Age,Item ID,Item Name,Price
0,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,92,Final Critic,4.88
3,3,Chamassasya86,24,100,Blindscythe,3.27
4,4,Iskosia90,23,131,Fury,1.44
...,...,...,...,...,...,...
774,774,Jiskjask80,11,92,Final Critic,4.19
776,776,Iral74,21,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,92,Final Critic,4.19
779,779,Ennrian78,24,50,Dawn,4.60

In [33]:


male_players_df = gender_data.get_group('Male')
male_index = male_players_df.index

#Find average purchase price for male players
average_price_male = male_players_df['Price'].mean(axis=0, skipna=None, level=None, numeric_only=None)
print(average_price_male)

# Count Total Number of Purchase
total_purchases_male = len(male_index)
print(total_purchases_male)

# Sum price column to get total revenue
total_rev_male = male_players_df['Price'].sum()
print(total_rev_male)

# Average purchase total per person


# Store summary analysis in a dataframe called male_purchase_summary
# fmale_purchase_summary_df = ([average_price_male], [total_purchases_male], [total_rev_male], [total_revenue])
male_purchase_summary_df = ([average_price_male], [total_purchases_male], [total_rev_male])
print(male_purchase_summary_df)

3.0178527607361953
652
1967.64
([3.0178527607361953], [652], [1967.64])

In [34]:
# PART 3B: Analyze OTHER / NON-SPECIFIED players
gender_data.get_group('Other / Non-Disclosed')

,Purchase ID,SN,Age,Item ID,Item Name,Price
9,9,Chanosian48,35,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,24,Warped Fetish,3.81
82,82,Haerithp41,16,160,Azurewrath,4.40
111,111,Sundim98,21,41,Orbit,4.75
228,228,Jiskirran77,20,80,Dreamsong,3.39
237,237,Idairin51,20,16,Restored Bauble,3.55
242,242,Eodaisu60,16,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,34,Retribution Axe,2.22
401,401,Lirtim36,15,46,Hopeless Ebon Dualblade,1.33
484,484,Chanosian48,35,39,"Betrayal, Whisper of Grieving Widows",3.94
549,549,Maluncil97,25,146,Warped Iron Scimitar,3.10
629,629,Maluncil97,25,107,"Splitter, Foe Of Subtlety",2.18
637,637,Airi27,24,163,Thunderfury Scimitar,3.45
747,747,Siarithria38,38,146,Warped Iron Scimitar,3.10

In [35]:
nb_players_df = gender_data.get_group('Other / Non-Disclosed')
nb_index = nb_players_df.index

#Find average purchase price for male players
average_price_nb = nb_players_df['Price'].mean(axis=0, skipna=None, level=None, numeric_only=None)
print(average_price_nb)

# Count Total Number of Purchase
total_purchases_nb = len(nb_index)
print(total_purchases_nb)

# Sum price column to get total revenue
total_rev_nb = nb_players_df['Price'].sum()
print(total_rev_nb)

# Average purchase total per person


# Store summary analysis in a dataframe called nb_purchase_summary
# fmale_purchase_summary_df = ([average_price_male], [total_purchases_male], [total_rev_male], [total_revenue])
nb_purchase_summary_df = ([average_price_nb], [total_purchases_nb], [total_rev_nb])
print(nb_purchase_summary_df)

3.3460000000000005
15
50.19
([3.3460000000000005], [15], [50.19])

In [ ]:
# Set data frame to gender_summary_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [39]:
# age_demographics_df
print(purchase_data_df["Age"].max())
print(purchase_data_df["Age"].min())

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49]

# Create labels for these bins
age_labels = ["0-10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"]

# Slice age group and place into age_bins
pd.cut(purchase_data_df["Age"], age_bins, labels=age_labels).head()

45
7

0    20-24
1    40-44
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (9, object): ['0-10' < '10-14' < '15-19' < '20-24' ... '30-34' < '35-39' < '40-44' < '45-49']

In [42]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_labels)
purchase_data_df.head()

age_group = purchase_data_df.groupby("Age Group")
print(age_group["SN"].count())

Age Group
0-10      23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40-44     12
45-49      1
Name: SN, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# age_summary_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# top_spenders_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# popular_items_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame