### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [38]:
# PART 1: DEPENDENCIES & SET UP
# Import Pandas
import pandas as pd
import numpy as np
import re

# Load in CSV file
csvfile = "Resources/purchase_data.csv"

# Read purchase_data.csv and store into Pandas dataframe called purchase_data_df
purchase_data_df = pd.read_csv(csvfile)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# PART 2: ANALYZE ALL PLAYERS 

#Define index & find total number of unique players (num_unique_players)
#Source: https://www.kite.com/python/answers/how-to-count-the-number-of-rows-in-a-pandas-dataframe-in-python
#I don't know why index works
overall_index = purchase_data_df.index
num_unique_players = purchase_data_df['SN'].nunique()

#Display total
print(num_unique_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, total # of purchases, total revenue


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Count unique items in Index 5
unique_items = purchase_data_df['Item Name'].nunique()

#Find average purchase price
average_price = purchase_data_df['Price'].mean(axis=0, skipna=None, level=None, numeric_only=None)

#Count Total Number of Purchase
total_purchases = len(overall_index)

# Sum price column to get total revenue
total_revenue = purchase_data_df['Price'].sum()

# Store summary analysis in a dataframe called purchase_summary_df
purchase_summary_df = pd.DataFrame(
    {"Number of Unique Items" :[unique_items], "Average Price": [average_price], "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})

#Display purchase_summary_df as stylized table
purchase_summary_df.style

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# PART 3: ANALYZE GENDER DEMOGRAPHICS & PURCHASING HABITS

# Create a group for gender and sub-groups for female, male, and other / non-disclosed
gender_data = purchase_data_df.groupby('Gender')
female_players_df = gender_data.get_group('Female')
male_players_df = gender_data.get_group('Male')
nb_players_df = gender_data.get_group('Other / Non-Disclosed')

# PART 3A: Display Basic Demographics
# Count unique individuals for each gender
num_unique_females = female_players_df['SN'].nunique()
num_unique_males = male_players_df['SN'].nunique()
num_unique_nb = nb_players_df['SN'].nunique()

# Calculate percentage of each gender over total individual players
percent_female = round((100* num_unique_females / num_unique_players), 2)
percent_male = round((100* num_unique_males / num_unique_players), 2)
percent_nb = round((100* num_unique_nb / num_unique_players), 2)

print(percent_female)

# Display summary dataframe of count and percent of genders / total
gender_demographic_df = pd.DataFrame(
    { "Gender": ["Female", "Male", "Other / Non-Disclosed"], 
     "Total Count": [num_unique_females, num_unique_males, num_unique_nb], 
     "Percentage of Players": [percent_female, percent_male, percent_nb]})

gender_demographic_df

14.06

                  Gender  Total Count  Percentage of Players
0                 Female           81                  14.06
1                   Male          484                  84.03
2  Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
# MAY NEED ME TO DELETE

# sn_group_f = np.mean(female_players_df.groupby('SN')['Price'].mean().values)
# sn_group_f
# # sn_group = purchase_data_df.groupby('SN')
# # sn_group_f = sn_group_[sn_group_df['Gender']=='Female']['Price']
# # sn_group_m_df = sn_group_df[sn_group_df['Gender']=='Male']['Price']
# # sn_group_nb_df = np.mean(list(sn_group_df[sn_group_df['Gender']=='Other / Non-Disclosed']['Price'].values))
# # sn_group_nb_df

3.1948353909465026

In [5]:
#PART 3B: Analyze FEMALE players
# Calculate Avg Purchase Price, Total Num of Purchases, Total Purchase Value, Avg Purchase per Person
average_price_female = female_players_df['Price'].mean(axis=0, skipna=None, level=None, numeric_only=None)
purchase_count_female = female_players_df['Price'].count()
purchase_value_female = female_players_df['Price'].sum()
price_per_female = num_unique_females / purchase_value_female
price_per_female
# GET HELP Average purchase total per person

0.22379399900536

In [6]:
# PART 3C: Analyze MALE players

# Calculate Avg Purchase Price, Total Num of Purchases, Total Purchase Value, Avg Purchase per Person
average_price_male = male_players_df['Price'].mean(axis=0, skipna=None, level=None, numeric_only=None)
purchase_count_male = male_players_df['Price'].count()
purchase_value_male = male_players_df['Price'].sum()

# GET HELP Average purchase total per person

In [7]:
# PART 3D: Analyze OTHER / NON-SPECIFIED players
# Calculate Avg Purchase Price, Total Num of Purchases, Total Purchase Value, Avg Purchase per Person
average_price_nb = nb_players_df['Price'].mean(axis=0, skipna=None, level=None, numeric_only=None)
purchase_count_nb = nb_players_df['Price'].count()
purchase_value_nb = nb_players_df['Price'].sum()

# GET HELP Average purchase total per person

In [8]:
# PART 4E: Create & Display Summary Analysis
# Set data frame to gender_summary_df
gender_summary_df = pd.DataFrame(
    { "Gender": ["Female", "Male", "Other / Non-specified"], 
     "Purchase Count": [purchase_count_female, purchase_count_male, purchase_count_nb], 
     "Average Price": [average_price_female, average_price_male, average_price_nb], 
     "Total Purchase Value" : [purchase_value_female, purchase_value_male, purchase_value_nb]})

gender_summary_df

                  Gender  Purchase Count  Average Price  Total Purchase Value
0                 Female             113       3.203009                361.94
1                   Male             652       3.017853               1967.64
2  Other / Non-specified              15       3.346000                 50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# PART 5: AGE DEMOGRAPHICS & ANALYSIS BY AGE GROUPS

# PART 5A: Display Basic Demographics
# Create bins for age groups
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49]

# Create labels for age group bins
age_labels = ["0-10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"]

# Slice age group and place into age_bins
pd.cut(purchase_data_df["Age"], age_bins, labels=age_labels).head()

0    20-24
1    40-44
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (9, object): ['0-10' < '10-14' < '15-19' < '20-24' ... '30-34' < '35-39' < '40-44' < '45-49']

In [12]:
# Place data series into new column in purchase_data_df
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_labels, ordered=True)

# Find total count of players per age group, including duplicate users
age_data = purchase_data_df.groupby('Age Group')
# Convert groupby object for age_data into dataframe
age_data_df = purchase_data_df.groupby('Age Group').first(100)
age_count = age_data['SN'].count()

# Find total count of players per age group, NO DUPLICATES
age_count_unique = age_data['SN'].nunique()

# Find percentage of players per age group
age_group_percentage = round((100* age_count_unique / num_unique_players), 2)

In [13]:
# age_data.first(100)

In [14]:
# Display age demographics table
age_demographics_df = pd.DataFrame(
    { "Total Count": age_count_unique, 
     "Percentage of Players": age_group_percentage })
age_demographics_df

           Total Count  Percentage of Players
Age Group
0-10                17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40-44               11                   1.91
45-49                1                   0.17

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
# PART 5B: Purchasing Analysis by Age Group

# Find average purchase price by age group
average_price_age = age_data['Price'].mean()
# age_group_average

# Count Total Number of Purchase
purchase_count_age = age_data['Price'].count()
# age_total_purchase

# Sum price column to get total revenue
purchase_value_age = age_data['Price'].sum()
# age_group_sum_price

# Average purchase total per age group

In [18]:
age_summary_df = pd.DataFrame(
    { "Purchase Count": purchase_count_age,
     "Average Purchase Price": average_price_age, 
     "Total Purchase Value": purchase_value_age })
age_summary_df

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Group
0-10                   23                3.353478                 77.13
10-14                  28                2.956429                 82.78
15-19                 136                3.035956                412.89
20-24                 365                3.052219               1114.06
25-29                 101                2.900990                293.00
30-34                  73                2.931507                214.00
35-39                  41                3.601707                147.67
40-44                  12                3.045000                 36.54
45-49                   1                1.700000                  1.70

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [52]:
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [58]:
# PART 6: ANALYZE TOP SPENDERS

# Group by Spenders
spenders_data = purchase_data_df.groupby('SN')

#Run data analysis
purchase_count_spender = spenders_data['Price'].count() 
average_price_spender = spenders_data['Price'].mean()
total_rev_spender = spenders_data['Price'].sum()
total_rev_spender

spender_analysis_df = pd.DataFrame(
    { "Purchase Count": purchase_count_spender,
     "Average Purchase Price": average_price_spender, 
     "Total Purchase Value": total_rev_spender })

top_spenders_df = spender_analysis_df.sort_values(by='Total Purchase Value', ascending=False).head(5)
top_spenders_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [55]:
spenders_data.first()

,Purchase ID,Age,Gender,Item ID,Item Name,Price,Age Group
SN,,,,,,,
Adairialis76,467,16,Male,123,Twilight's Carver,2.28,15-19
Adastirin33,142,35,Female,175,Woeful Adamantite Claymore,4.48,35-39
Aeda94,388,17,Male,128,"Blazeguard, Reach of Eternity",4.91,15-19
Aela59,28,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
Aelaria33,630,23,Male,171,Scalpel,1.79,20-24
...,...,...,...,...,...,...,...
Yathecal82,125,20,Female,62,Piece Maker,1.87,20-24
Yathedeu43,93,22,Male,88,"Emberling, Defender of Delusions",3.75,20-24
Yoishirrala98,572,17,Female,145,Fiery Glass Crusader,4.58,15-19
Zhisrisu83,54,10,Male,25,Hero Cane,4.35,10-14
Zontibe81,17,21,Male,161,Devine,1.76,20-24

In [57]:
spenders_data_df = spenders_data.first()
spender_f = spenders_data_df.groupby('Gender')
spender_f.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price,Age Group
SN,,,,,,,
Adairialis76,467,16,Male,123,Twilight's Carver,2.28,15-19
Adastirin33,142,35,Female,175,Woeful Adamantite Claymore,4.48,35-39
Aeda94,388,17,Male,128,"Blazeguard, Reach of Eternity",4.91,15-19
Aela59,28,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
Aelaria33,630,23,Male,171,Scalpel,1.79,20-24
Aelastirin39,218,23,Male,76,Haunted Bronzed Bludgeon,3.15,20-24
Aerithllora36,274,29,Female,82,Nirvana,4.90,25-29
Aethedru70,775,21,Female,60,Wolf,3.54,20-24
Aidain51,516,39,Female,35,Heartless Bone Dualblade,3.45,35-39
Aiduesu86,429,22,Female,179,"Wolf, Promise of the Moonwalker",4.48,20-24
Airi27,637,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45,20-24
Chanosian48,9,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
Eodaisu60,242,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94,15-19
Haerithp41,82,16,Other / Non-Disclosed,160,Azurewrath,4.40,15-19
Idairin51,237,20,Other / Non-Disclosed,16,Restored Bauble,3.55,20-24

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
# PART 7: ANALYZE MOST POPULAR ITEMS

# Group by Items
items_data = purchase_data_df[['Item ID', 'Item Name', 'Price']]
items_data = items_data.groupby(['Item ID', 'Item Name'])
items_data.head()

# Run data analysis
purchase_count_items = items_data['Item ID'].count() 
average_price_items = items_data['Price'].mean()
purchase_value_items = items_data['Price'].sum()

item_analysis_df = pd.DataFrame(
    { "Purchase Count": purchase_count_items,
     "Average Purchase Price": average_price_items, 
     "Total Purchase Value": purchase_value_items })

popular_items_df = item_analysis_df.sort_values(by='Purchase Count', ascending=False).head(5)
popular_items_df

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
# PART 8: IDENTIFY MOST PROFITABLE ITEMS

# Sort table of most popular items by total purchase value
profitable_items_df = item_analysis_df.sort_values(by='Total Purchase Value', ascending=False).head(5)
profitable_items_df

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80