### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# PART 1: DEPENDENCIES & SET UP
# Import Pandas
import pandas as pd
import numpy as np
import re

# Load in CSV file
csvfile = "Resources/purchase_data.csv"

# Read purchase_data.csv and store into Pandas dataframe called purchase_data_df
purchase_data_df = pd.read_csv(csvfile)

## Player Count

* Display the total number of players

In [2]:
# PART 2: ANALYZE ALL PLAYERS 

#Define index & find total number of unique players (num_unique_players)
#Source: https://www.kite.com/python/answers/how-to-count-the-number-of-rows-in-a-pandas-dataframe-in-python
#I don't know why index works
overall_index = purchase_data_df.index
num_unique_players = purchase_data_df['SN'].nunique()

#Display total
unique_players_df = pd.DataFrame({"Total Players" : [num_unique_players]})
unique_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, total # of purchases, total revenue


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Count unique items in Index 5
unique_items = purchase_data_df['Item Name'].nunique()

#Find average purchase price
average_price = purchase_data_df['Price'].mean(axis=0, skipna=None, level=None, numeric_only=None)

#Count Total Number of Purchase
total_purchases = len(overall_index)

# Sum price column to get total revenue
total_revenue = purchase_data_df['Price'].sum()

# Store summary analysis in a dataframe called purchase_summary_df
purchase_summary_df = pd.DataFrame(
    {"Number of Unique Items" :[unique_items], "Average Price": [average_price], "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})

#Display purchase_summary_df as stylized table
purchase_summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:

# PART 3: ANALYZE GENDER DEMOGRAPHICS & PURCHASING HABITS

# Create a group for gender and sub-groups for female, male, and other / non-disclosed
gender_data = purchase_data_df.groupby('Gender')
female_players_df = gender_data.get_group('Female')
male_players_df = gender_data.get_group('Male')
nb_players_df = gender_data.get_group('Other / Non-Disclosed')

# PART 3A: Display Basic Demographics
# Count unique individuals for each gender
num_unique_females = female_players_df['SN'].nunique()
num_unique_males = male_players_df['SN'].nunique()
num_unique_nb = nb_players_df['SN'].nunique()

# Calculate percentage of each gender over total individual players
percent_female = round((100* num_unique_females / num_unique_players), 2)
percent_male = round((100* num_unique_males / num_unique_players), 2)
percent_nb = round((100* num_unique_nb / num_unique_players), 2)

# Display summary dataframe of count and percent of genders / total
gender_demographic_df = pd.DataFrame(
    { "Gender": ["Female", "Male", "Other / Non-Disclosed"], 
     "Total Count": [num_unique_females, num_unique_males, num_unique_nb], 
     "Percentage of Players": [percent_female, percent_male, percent_nb]})

gender_demographic_df
gender_demographic_df.style.format({'Percentage of Players':"{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#PART 3B: Analyze FEMALE players
# Calculate Avg Purchase Price, Total Num of Purchases, Total Purchase Value, Avg Purchase per Person
average_price_female = female_players_df['Price'].mean()
purchase_count_female = female_players_df['Price'].count()
purchase_value_female = female_players_df['Price'].sum()
purchase_per_female = purchase_value_female / num_unique_females

In [6]:
# PART 3C: Analyze MALE players

# Calculate Avg Purchase Price, Total Num of Purchases, Total Purchase Value, Avg Purchase per Person
average_price_male = male_players_df['Price'].mean()
purchase_count_male = male_players_df['Price'].count()
purchase_value_male = male_players_df['Price'].sum()
purchase_per_male = purchase_value_male / num_unique_males

In [7]:
# PART 3D: Analyze OTHER / NON-SPECIFIED players
# Calculate Avg Purchase Price, Total Num of Purchases, Total Purchase Value, Avg Purchase per Person
average_price_nb = nb_players_df['Price'].mean()
purchase_count_nb = nb_players_df['Price'].count()
purchase_value_nb = nb_players_df['Price'].sum()
purchase_per_nb = purchase_value_nb / num_unique_nb

In [8]:
# PART 4E: Create & Display Summary Analysis
# Set data frame to gender_summary_df
gender_summary_df = pd.DataFrame(
    { "Gender": ["Female", "Male", "Other / Non-specified"], 
     "Purchase Count": [purchase_count_female, purchase_count_male, purchase_count_nb], 
     "Average Price": [average_price_female, average_price_male, average_price_nb], 
     "Total Purchase Value" : [purchase_value_female, purchase_value_male, purchase_value_nb],
     "Avg Total Purchase per Person" : [purchase_per_female, purchase_per_male, purchase_per_nb]})


# Style table
gender_summary_df.style.format({'Average Price':"${:,.2f}",
                                'Total Purchase Value': "${:,.2f}",
                               'Avg Total Purchase per Person' : "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# PART 5: AGE DEMOGRAPHICS & ANALYSIS BY AGE GROUPS

# PART 5A: Display Basic Demographics
# Create bins for age groups
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49]

# Create labels for age group bins
age_labels = ["0-10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"]

# Slice age group and place into age_bins
pd.cut(purchase_data_df["Age"], age_bins, labels=age_labels).head()

0    20-24
1    40-44
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (9, object): ['0-10' < '10-14' < '15-19' < '20-24' ... '30-34' < '35-39' < '40-44' < '45-49']

In [10]:
# Place data series into new column in purchase_data_df
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_labels, ordered=True)

In [11]:
# Find total count of players per age group, including duplicate users
age_data = purchase_data_df.groupby('Age Group')
age_count = age_data['SN'].count()

# Find total count of players per age group, NO DUPLICATES
age_count_unique = age_data['SN'].nunique()
age_percentage = (age_count_unique / num_unique_players)*100

# Display age demographics table
age_demographics_df = pd.DataFrame(
    { "Total Count": age_count, 
     "Percentage of Players": age_percentage})

# Style and display summary table
age_demographics_df.style.format({'Percentage of Players':"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# PART 5B: Purchasing Analysis by Age Group

# Find average purchase price by age group
average_price_age = age_data['Price'].mean()
# age_group_average

# Count Total Number of Purchase
purchase_count_age = age_data['Price'].count()
# age_total_purchase

# Sum price column to get total revenue
purchase_value_age = age_data['Price'].sum()
# age_group_sum_price

# Average purchase total per age group
purchase_per_age = purchase_value_age / age_count_unique

In [13]:
age_summary_df = pd.DataFrame(
    { "Purchase Count": purchase_count_age,
     "Average Price": average_price_age, 
     "Total Purchase Value": purchase_value_age,
     "Avg Total Purchase per Person": purchase_per_age})

age_summary_df.style.format({'Average Price':"${:,.2f}",
                                'Total Purchase Value': "${:,.2f}",
                               'Avg Total Purchase per Person' : "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# PART 6: ANALYZE TOP SPENDERS

# Group by Spenders
spenders_data = purchase_data_df.groupby('SN')

#Run data analysis
purchase_count_spender = spenders_data['Price'].count() 
average_price_spender = spenders_data['Price'].mean()
total_rev_spender = spenders_data['Price'].sum()
total_rev_spender

spender_analysis_df = pd.DataFrame(
    { "Purchase Count": purchase_count_spender,
     "Average Purchase Price": average_price_spender, 
     "Total Purchase Value": total_rev_spender })

top_spenders_df = spender_analysis_df.sort_values(by='Total Purchase Value', ascending=False).head(5)

top_spenders_df.style.format({'Average Purchase Price':"${:,.2f}",
                                'Total Purchase Value': "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
# PART 7: ANALYZE MOST POPULAR ITEMS

# Group by Items
items_data = purchase_data_df[['Item ID', 'Item Name', 'Price']]
items_data = items_data.groupby(['Item ID', 'Item Name'])
items_data.head()

# Run data analysis
purchase_count_items = items_data['Item ID'].count() 
average_price_items = items_data['Price'].mean()
purchase_value_items = items_data['Price'].sum()

# Create summary dataframe
item_analysis_df = pd.DataFrame(
    { "Purchase Count": purchase_count_items,
     "Average Purchase Price": average_price_items, 
     "Total Purchase Value": purchase_value_items })

# Sort highest to lowest by "Purchase Count" column and display top 5
popular_items_df = item_analysis_df.sort_values(by='Purchase Count', ascending=False).head(5)

# Style and display summary dataframe
popular_items_df.style.format({'Average Purchase Price':"${:,.2f}",
                                'Total Purchase Value': "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [16]:
# PART 8: IDENTIFY MOST PROFITABLE ITEMS

# Sort table of most popular items by total purchase value
profitable_items_df = item_analysis_df.sort_values(by='Total Purchase Value', ascending=False).head(5)

# Style and display summary dataframe
profitable_items_df.style.format({'Average Purchase Price':"${:,.2f}",
                                'Total Purchase Value': "${:,.2f}"})