### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import pandas as pd
import re

# File to Load (Remember to Change These)
csvfile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas dataframe called purchase_data_df
purchase_data_df = pd.read_csv(csvfile)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [ ]:
# purchase_data_df = purchase_data_df[["Purchase ID", "SN", "Age",
#                            "Gender", "Item ID", "Item Name", "Price"]]

# purchase_data_df.head()

In [5]:
#Define index & find total number of unique players (player_total)
#Source: https://www.kite.com/python/answers/how-to-count-the-number-of-rows-in-a-pandas-dataframe-in-python
#I don't know why index works
index = purchase_data_df.index
player_total = purchase_data_df['SN'].nunique()

#Display total
print(player_total)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, total # of purchases, total revenue


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
#Count unique items in Index 5
unique_items = purchase_data_df['Item Name'].nunique()
print(unique_items)

#Find average purchase price
average_price = purchase_data_df['Price'].mean(axis=0, skipna=None, level=None, numeric_only=None)
print(average_price)

#Count Total Number of Purchase
total_purchases = len(index)
print(total_purchases)

# Sum price column to get total revenue
total_revenue = purchase_data_df['Price'].sum()
print(total_revenue)

# Store summary analysis in a dataframe called purchase_summary_df
purchase_summary_df = ([unique_items], [average_price], [total_purchases], [total_revenue])

print(purchase_summary_df)
# purchase_summary_df

179
3.050987179487176
780
2379.77
([179], [3.050987179487176], [780], [2379.77])

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [23]:
# Set variables to male_players, female_players, nb_players
# female_players = "Female"
# female_players = purchase_data_df['Gender']str.count("Female")
# female_players = pd.purchase_data_df(['Female'], columns=['Gender'])
female_players = purchase_data_df.groupby('Gender')
female_players.first()

female_players.get_group('Female')

,Purchase ID,SN,Age,Item ID,Item Name,Price
15,15,Lisassa64,21,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,82,Nirvana,4.90
38,38,Reulae52,10,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,84,Arcane Gem,3.79
...,...,...,...,...,...,...
731,731,Eudanu84,22,12,Dawne,1.02
740,740,Reunasu60,22,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,92,Final Critic,4.88
775,775,Aethedru70,21,60,Wolf,3.54


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Set data frame to gender_summary_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# age_demographics_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# age_summary_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# top_spenders_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# popular_items_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame